{% if site.show_projects %}
  <h1 class="title"><span>{{site.projects_title}}</span></h1>

<p class="description" data-aos="fade-down">
すべての言語における合計調査数：Sum = value1 + value2 + ... + valueN </br>
</br>
参加：平均 = Σx / n </br>
</br>
ESGに関心のあるプレイヤー：T / 3 グループ </br>
</br>
ゲーム全体の体験への影響：T / 3 グループ </br>
</br>
プレイヤーの評価：平均 = Σx / n </br>
</br>
オープンなコミュニケーションの重要性：平均 = Σx / n </br>
</br>
満足度：((a₁ + a₂ + a₃ + a₄ + a₅ + a₆ + a₇) + (a₈ x 8) + 2) / 100 </br>
ここで： </br>
a₁ から a₇ は7つの平均値 </br>
a₈ は2つの追加スコアを含む総平均の8番目の平均値 </br>
</br>
</br>
レイドで車を使うユーザーの割合：Σx / n </br>
ここで、Σxはすべての値の合計を表し、nは値の総数を表します。</br>
</br>
包括性指数（I）=（アクセシビリティスコア（A）+ 適合性スコア（S））/ 2
</br>

アクセシビリティスコア（A）：障害者や現地レイドコミュニティがないユーザーに対するアクティビティのアクセシビリティを評価します。</br>
適合性スコア（S）：18歳未満の子供を持つ親にとってのアクティビティの適合性を評価します。</br>
</br>
包括性指数の計算：</br>
</br>

アクティビティのアクセシビリティスコア（A）を決定します。</br>
アクティビティの適合性スコア（S）を決定します。</br>
アクセシビリティスコア（A）と適合性スコア（S）を足します。</br>
その合計を2で割って包括性指数（I）を求めます。</br>
</br>
包括性指数は、障害者、現地レイドコミュニティのないユーザー、および18歳未満の子供を持つ親にとって、アクティビティがどれだけ包括的であるかを定量的に包括性指数は、障害者、現地レイドコミュニティのないユーザー、および18歳未満の子供を持つ親にとって、アクティビティがどれだけ包括的であるかを定量的に評価する指標となります。包括性指数が高いほど、包括性が高いことを示します。</br>
</br>
</p>

{% endif %}


